services:
    db:
        image: postgres:16-alpine
        container_name: metro-db
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: metro_pipeline
        ports:
            - "5432:5432"
        volumes:
            - ./pgdata:/var/lib/postgresql/data
            - ./init.sql:/docker-entrypoint-initdb.d/init.sql
        restart: unless-stopped

volumes:
    pgdata:
